<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search...">
                        </div>
                    </div>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Status</th>
                       
                                <th scope="col">Location</th>
                                <th scope="col">Order Date</th>
                              
                            </tr>
                        </thead>
                        <tbody *ngIf="filteredData.length > 0; else noRecordsFound">
                            <tr *ngFor="let item of filteredData | paginate: { itemsPerPage: 10, currentPage: p}">
                                <td>{{item.Item}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.Amount}}</td>
                                <td>{{item.Status}}</td>                               
                                <td>{{item.Location}}</td>
                                <td>{{item.Date}}</td>
                                <td>
                                    <div style="display: flex;gap: 8px;">
                                        <button mat-raised-button class="btn btn-primary"
                                            (click)="delete(item.id)">Delete</button>
                                        <button mat-raised-button color="primary" class="btn btn-primary"
                                            (click)="openDialog(item)">Edit</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </table>
                    <ng-template #noRecordsFound>
                        <p>No records found.</p>
                    </ng-template>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <button (click)="openDialog('')" class="add-user-btn" mat-fab color="primary"
                matTooltip="Add a new Order">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>