<div class="log-in">
    <div class="form-class form-width-mobile">
        <form class="log-in-form">
            <span class="log-in-headline">Log in</span>
            <input [(ngModel)]="email" name="email" class="email-input" placeholder="Email" type="email" required>
            <input [(ngModel)]="password" name="password" class="password-input" placeholder="Password" type="password"
                required>
            <div class="mobile-login-buttons">
                <div class="login-btns">
                    <button class="button" (click)="login()">Log in</button>
                    <button (click)="guestLogin()" class="button">Guest Log in</button>
                </div>
                <span>You wanna join us?</span>
                <button [routerLink]="'/register'" class="button">Register</button>
            </div>

        </form>
    </div>
</div>