<div class='impressum'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Pascal Marienfeld <br>
        Alhausstraße 11<br>
        42281 Wuppertal <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Pascal Marienfeld<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: 0162-9234988<br>
        E-Mail: <a href='mailto:p.marienfeld@outlook.de'>p.marienfeld@outlook.de</a></p><br>
    Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
        href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/" rel="nofollow">Kanzlei Hasselbach, Frankfurt</a>
</div>