<form [formGroup]="orderForm" class="p-4">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 >{{title}}</h1>
    <div class="row mb-4">
        <div class="col-md-6">
            <label for="Item" class="form-label">Item</label>
            <input type="text" class="form-control" id="Item" formControlName="Item">
        </div>
        <div class="col-md-6">
            <label for="designation" class="form-label">Customer Name</label>
            <input type="text" class="form-control" id="Name" formControlName="Name">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <label for="Amount" class="form-label">Total Amount</label>
            <input type="text" class="form-control" id="Amount" formControlName="Amount">
        </div>
        <div class="col-md-6">
            <label for="hireDate" class="form-label">Status</label>
            <input type="text" class="form-control" id="Status" formControlName="Status">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <label for="Location" class="form-label">Location</label>
            <input type="text" class="form-control" id="Location" formControlName="Location">
        </div>
        <div class="col-md-6">
            <label for="Date" class="form-label">Order Month</label>
            <input type="text" class="form-control" id="Date" formControlName="Date">
        </div>
    </div>

    <div class="d-grid gap-2">
        <button [disabled]="loading" (click)="dialogRef.close()" class="btn btn-secondary">Cancel</button>
        <button [disabled]="loading || orderForm.invalid" (click)="addOrders()"
            class="btn btn-primary">Save</button>
    </div>
</form>