<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin-left: 1rem;">
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" class="form-control"
                    placeholder="Search..." aria-label="Search" aria-describedby="search-button"
                    style="border-radius: 10px;" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Data Tables -->

            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-truncate">First Name</th>
                                    <th class="text-truncate">Last Name</th>
                                    <th class="text-truncate">E-Mail</th>
                                    <th class="text-truncate">Street</th>
                                    <th class="text-truncate">Zip Code</th>
                                    <th class="text-truncate">City</th>
                                    <th class="text-truncate">Country</th>
                                    <th class="text-truncate">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="filteredData.length > 0; else noRecordsFound">
                                <tr *ngFor="let item of filteredData | paginate: { itemsPerPage: 10, currentPage: p}">
                                    <td class="text-truncate">{{item.FirstName}}</td>
                                    <td class="text-truncate">{{item.LastName}}</td>
                                    <td class="text-truncate">
                                        <i class="mdi mdi-laptop mdi-24px text-danger me-1"></i> {{item.email}}
                                    </td>
                                    <td class="text-truncate">{{item.Street}}</td>
                                    <td class="text-truncate">{{item.ZipCode}}</td>
                                    <td class="text-truncate">{{item.City}}</td>
                                    <td class="text-truncate">{{item.Country}}</td>
                                    <td>
                                        <div style="display: flex; gap: 8px;">
                                            <mat-icon style="cursor: pointer;" color="warn"
                                                (click)="delete(item.id)">delete</mat-icon>
                                            <mat-icon style="cursor: pointer;" color="primary"
                                                (click)="openDialog(item)">edit</mat-icon>
                                        </div>
                                    </td>
                                    <!-- <td><span class="badge bg-label-warning rounded-pill">Pending</span></td> -->
                                </tr>

                            </tbody>

                        </table>
                        <ng-template #noRecordsFound>
                            <p>No records found.</p>
                        </ng-template>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
            <!--/ Data Tables -->
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <button (click)="openDialog('')" class="add-user-btn" mat-fab color="primary"
                matTooltip="Add a new Employee">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>