

    <div class="row chart-container">
      <div class="col-md-6 mb-4">
        <div class="card">
          <span>Total customers</span>
          <apx-chart *ngIf="chartOptions && chartOptions.series" [series]="chartOptions.series"
          [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
          [fill]="chartOptions.fill" [title]="chartOptions.title" [labels]="chartOptions.labels"
          [legend]="chartOptions.legend" [colors]="chartOptions.colors"></apx-chart>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <span>Total employees</span>
          <apx-chart *ngIf="chartOptions && chartOptions.series" [series]="chartOptions.series"
          [series]="chartOptions1.series" [chart]="chartOptions1.chart"
          [dataLabels]="chartOptions1.dataLabels" [plotOptions]="chartOptions1.plotOptions"
          [yaxis]="chartOptions1.yaxis" [xaxis]="chartOptions1.xaxis" [fill]="chartOptions1.fill"
          [title]="chartOptions1.title" [labels]="chartOptions1.labels" [legend]="chartOptions1.legend"
          [colors]="chartOptions1.colors"></apx-chart>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <span>Orders by country</span>
          <apx-chart *ngIf="chartOptions && chartOptions.series" [series]="chartOptions.series"
          [series]="chartOptions2.series" [chart]="chartOptions2.chart"
          [dataLabels]="chartOptions2.dataLabels" [plotOptions]="chartOptions2.plotOptions"
          [yaxis]="chartOptions2.yaxis" [xaxis]="chartOptions2.xaxis" [fill]="chartOptions2.fill"
          [title]="chartOptions2.title" [labels]="chartOptions2.labels" [legend]="chartOptions2.legend"
          [colors]="chartOptions2.colors"></apx-chart>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <span>Customers by country</span>
          <apx-chart *ngIf="chartOptions && chartOptions.series" [series]="chartOptions.series"
          [series]="chartOptions3.series" [chart]="chartOptions3.chart"
          [dataLabels]="chartOptions3.dataLabels" [plotOptions]="chartOptions3.plotOptions"
          [yaxis]="chartOptions3.yaxis" [xaxis]="chartOptions3.xaxis" [fill]="chartOptions3.fill"
          [title]="chartOptions3.title" [labels]="chartOptions3.labels" [legend]="chartOptions3.legend"
          [colors]="chartOptions3.colors"></apx-chart>
        </div>
      </div>
    </div>