<div class="log-in">
    <div class="form-class form-width-mobile">
        <form class="log-in-form">
            <img class="arrow-left" [routerLink]="''" src="/assets/img/sign-up-arrow.png">
            <span class="log-in-headline">Register</span>

            <input type="email" class="email-input" name="email" [(ngModel)]="email" placeholder="Email" type="email"
                required>

            <input type="password" class="password-input" name="password" [(ngModel)]="password" placeholder="Password"
                type="password" required>
            <div class="mobile-login-buttons">
                <div class="login-btns">
                    <button class="button" (click)="register()">Register</button>
                </div>
            </div>

        </form>
    </div>
</div>