.row {
    display: flex;
    align-items: center;
}

.login-btns {
    display: flex;
    gap: 20px;

    button {
        &:hover {
            transform: scale(1.1);
        }
    }
}

.register {
    display: flex;
    flex-direction: column;

    button {
        &:hover {
            transform: scale(1.1);
        }
    }
}

.log-in {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #252541;
    color: #252541;

    .log-in-logo {
        position: absolute;
        top: 64px;
        left: 64px;
        border-radius: 100%;
        height: 125px;
    }



    .form-class {
        height: 320px;
        width: 500px;
        border-radius: 20px;
        box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
        position: relative;
        background-color: white;

        .arrow-left {
            position: absolute;
            top: 5%;
            left: 5%;
            cursor: pointer;
            height: 40px;
        }

        .log-in-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .log-in-headline {
                color: #252541;
                font-size: 50px;
                font-weight: 700;
                border-bottom: 3px solid #252541;
                padding-bottom: 30px;
                margin-bottom: 30px;
                padding-top: 30px;
            }

            .sign-up {
                position: absolute;
                right: 64px;
                top: 64px;

                span {
                    margin-right: 16px;
                    color: #ffffff;
                }

                button {
                    transition: transform 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                        color: #000000;
                    }
                }
            }

            .name-input {
                outline: none;
                margin-bottom: 25px;
                width: 60%;
            }

            .email-input {
                outline: none;
                margin-bottom: 25px;
                width: 60%;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid #D1D1D1;
            }

            .password-input {
                outline: none;
                margin-bottom: 32px;
                width: 60%;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid #D1D1D1;
            }

            ::placeholder {
                opacity: 0.5;
            }

            .mobile-login-buttons {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
    }

    .button {
        background-color: #000000;
        color: #ffffff;
        padding: 12px 10px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        text-decoration: none;
        width: 120px;
        margin-bottom: 24px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #303032;

        }
    }

}


/*** MEDIA QUERY ***/
@media (max-width: 600px) {

    /*** Login Page ***/
    .form-class {
        height: 320px !important;
    }

    .form-width-mobile {
        margin-right: 8px;
        margin-left: 8px;
    }

    .log-in-logo {
        top: 3% !important;
        height: 100px;
        left: unset !important;
    }

    .button {
        padding: 10px 8px;
        border-radius: 6px;
        border: none;
        margin-right: 0 !important;
        margin-bottom: 16px;
    }

    .sign-up {
        top: 81% !important;
        right: 0% !important;
        left: 0% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px !important;
    }

    /*** Sign-Up Page ***/
    .mobile-button-width {
        width: 150px;
    }

    .mobile-space-bottom {
        margin-bottom: 40px !important;
    }

}

@media (max-height: 700px) {
    .log-in-logo {
        height: 75px !important;
        top: 1% !important;
    }
}